<div class="s12 slide-me-dude">
  <ul class="slides">
    <% @home_banners.each do |banner| %>
      <% banner.images.each do |image| %> 
      <li>
        <%= image_tag(image.url, :class => "slide-me") %>
      </li>
      <% end %>  
    <% end %>
  </ul>
</div>
