<div class=" row">
  <div class="s5 br-h">&nbsp;</div>
  <div class="s2" style="text-align: center;"><img alt="Crown-end" src="/assets/crown-end.png"></div>
  <div class="s5 br-h crown-last-width">&nbsp;</div>
</div>