<%= render :partial => "partials/header" %>
<section id="wr" class="container">
    <div id="bring-me-up">
      <article id="about-us-page" style="margin-top: 620px;" class="row">
        
      </article>
      <div class="push-crown row">
        <div class="s5 br-h">&nbsp;</div>
        <div class="s2" style="text-align: center;"><%= image_tag("crown-end.png") %></div>
        <div class="s5 br-h crown-last-width">&nbsp;</div>
      </div>
    </div>
</section>
<%= render :partial => "partials/footer" %>